@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
}

/* Global Css */

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

.sec-space {
  padding: 4rem 0;
}

.extra-space {
  padding-top: 8rem;
}

.obj-width {
  max-width: 1200px;
  margin: auto;
}

/* Job-listing Section */

.jobs .job-id {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

.jobs .job-id li {
  padding: 20px 40px;
  cursor: pointer;
  color: #000;
}

.jobs .job-id li.active {
  background: #51a995;
  color: #fff;
}

.jobs .jList {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #ccc;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  color: #000;
  padding: 2rem 2rem;
}

.jobs .jList.delete {
  display: none;
}

.jobs .jList:hover {
  background: #ecf1ee;
}

.jobs .jList img {
  width: 40px;
}

.jobs .jList h3 {
  padding-bottom: 0;
}

/* Trust section */

.trust .t-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 3rem;
}

.trust .t-box img {
  width: 100px;
  object-fit: cover;
  margin: 1rem 1rem 1rem 0;
}

/* Responsiveness */

@media (max-width: 600px) {
  .jobs .job-id {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .jobs .job-id li {
    padding: 20px 30px;
    text-wrap: nowrap;
  }

  .jobs-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .jobs .jList {
    width: 48%;
    margin-top: 1rem;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    padding: 2rem 1rem;
    text-align: center;
    justify-content: center;
  }

  .trust .t-box {
    justify-content: space-evenly;
  }
}
